深度学习导论作业1-1.md
.vscode/settings.json
model_weights/best_diabetes_Basic_FNN_ReLU.pth
__pycache__/nets.cpython-313.pyc
__pycache__/load.cpython-313.pyc
model_weights/best_diabetes_Deep_FNN_ReLU.pth
model_weights/best_diabetes_Normal_FNN_ReLU.pth
model_weights/best_diabetes_0_1.pth
model_weights/best_diabetes_0_01.pth
model_weights/best_diabetes_0_001.pth
model_weights/best_diabetes_0_0001.pth
model_weights/best_diabetes_Normal_FNN_Tanh.pth
model_weights/best_diabetes_Normal_FNN_Swish.pth
model_weights/best_diabetes_Normal_FNN_Sigmoid.pth
model_weights/best_diabetes_Normal_FNN_LeakyReLU.pth
